[Unit]
Description=BrewHub 6-Unit Distillery Prototype v1

[Service]
Type=notify
Environment="DOTNET_ROOT=/opt/dotnet"
WorkingDirectory=/opt/Still6UnitController
ExecStart=/opt/Still6UnitController/Still6UnitController

[Install]
WantedBy=multi-user.target